* {
    box-sizing: border-box;
}

/* Global font clamp force the value to be between 0.5 and 1*/
:root {
	font-size: clamp(.5rem, calc(1vw + 1vh + .5vmin), 1rem); 
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

div {
    background-color: rgb(50, 50, 50);
}
  
header {
    padding: 1.5rem;
    background-color: rgb(45, 45, 45);
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 2vh;
}

body {
    font-family: system-ui, sans-serif;
}

/*Table styles*/
.tg  {
    border-collapse:collapse;border-spacing:0;
}

.timeline {
    margin-top: 2%; 
    margin-bottom: 4%
}


.dataline {
    border-width: 0vw 2px 0vw 0vw !important;
    border-color: white;
    border-style: solid;
    padding-right: 1vw !important;
    text-align: center;
    width: 12vw;
    max-width: 90px;
}

table {
    width: 70vw;
}

td {
  border-width: 0vw;
  overflow: hidden;
  height: fit-content;
  word-break: normal;
}

.tg .tg-0pky{ 
    text-align:left;
    vertical-align:top
}

.card {
    display: flex;
    max-width: 80vw;
    height: 25vh;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 1vh;
    margin: 1vh;
    padding: 1vh;
}


@media screen and (max-width: 1366px) {
    table
    .card { height: 100%}
    .image {width: 18vw !important; height: 18vw !important;}
    .tg {width: auto !important;}
    .tg col {width: auto !important;}
    .tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}
}

/* Mobile config*/
@media screen and (max-width: 767px) {
    .keywords { display: block !important}
    .card { display: block; height: 100%}
    .image {width: 75vw !important; height: 60vw !important;}
    .tg {width: auto !important;}
    .tg col {width: auto !important;}
    .tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}
}